.content{
    min-height: 90vh;
    margin-bottom: 50px;
    margin: 0 auto;
}

.h1-rutas{
    color: #42b72a;
}
// .card-img-top{
//     width: auto;
//     height: auto;
// }
.imagen-rutas{
    border-radius: 20px 20px 0px 0px;
    width: auto;
    height: auto;
}
.card-rutas{
    border-radius: 20px;
    box-shadow: 3px 10px 30px #ccc ;
    width: 400px;
}

.titulo-ruta{
    font-size: 1.5rem;
    font-weight: 700;
    color: #47753E ;
    height: 50px;
}
.texto-ruta{
    font-size: 1rem;
    font-weight: 700;
}

.boton-ruta{
    width: 100%;
    border: 2px solid #47753E ;
    color: #47753E;
    border-radius: 6px;
    font-weight: bold;
}
.boton-ruta:hover{
    background: #47753E;
    color: white;
    border: 2px solid #47753E;
}
.fila-rutas{
    justify-content: center;
}
.container-rutas{
    margin-bottom: 50px;
}