.share {
  margin: auto;
  width: 70%;
  height: 170px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  
  
}

.shareProfileImg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;

}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}



.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.userpost{
  background: white;
  width: 500px;
  height: auto;
  margin:auto;
  margin-top: 60px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}
.postProfileImg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.postDate{
  font-size: 12px;
}

.bodyImage{
  padding:5px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: auto;
 
} 

.header{
  padding: 10px;
  margin: 0;
}
.header div:first-child{
  display: inline-flex;
}
.header div:nth-child(2){
  display: inline flow-root list-item;
}

.header div:last-child{
  display: inline-flex;
  align-items: flex-end;
}

.postUsername{
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.icon1{
  float: right;
}
