.button-nav{
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #ffc107;
    color: #ffc107;
}
.button-nav:hover{
    background:#ffc107;
    border: 2px solid #ffc107;
    color: white;
}
.topbarLink{
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    word-spacing: 5px;

}
