.h1-detail-rutas{
    color: #42b72a;
}
.img-detail{
    max-width: 100%;
    height: auto;
    z-index: 0;
}
.container-details{
    margin-bottom: 50px;
}
.parche-img{
width: 96%;
min-height: 100px;
background: white;
z-index: 1;
position: absolute

}