.description-reserva{
    font-size: 1.5rem;
    font-weight: 700;
    color: #47753E ;
}
.btn-checkout{
width: 200px;
border: 2px solid #ffc107;
color: white;
border-radius: 6px;
font-weight: bold;
background: #ffc107;
height: auto;
margin-top: -30px;
margin-bottom: 180px;
}
 .btn-checkout:hover{     
    //  background: #ffc107;
     color: white;
     border: 2px solid #ffc107;
}
.container-checkout{
    min-height: 51px;
}
.img-booking{
    margin-top: 50px;
}