.login {
  width: 100vw;
  min-height: 57vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  font-weight: 800;
  color: #42b72a;
  margin-bottom: 10px;
  text-align: center;
}

.loginDesc {
  font-size: 24px;
  text-align: center;
}

.loginBox{
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 3px 10px 30px #ccc ;
}
.loginRegisterButton{
  width: 200px;
  height: 50px;
}